{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <nav class="nav">
        <button class='nav_button' id="back">
            <img src="/img/nav1.svg">
        </button>
        <button class='nav_button' id="forward">
            <img src="/img/nav2.svg">
        </button>
        <button class='nav_button' id="reload">
            <img src="/img/nav3.svg">
        </button>
        <button class='nav_button' id="home">
            <img src="/img/nav4.svg">
        </button>
        <input type="text" class="nav_input" id="input">
        <button class='nav_button' id="go">
            <img src="/img/nav5.svg">
        </button>
    </nav>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    }}